@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fallback */
  --device-h: 100vh;
  --scrollbarBG: theme(colors.secondaryBG);
  --main-h: calc(var(--device-h) - 91px - 3rem);
}

@media (max-width: 640px) {
  :root {
    --main-h: calc(var(--device-h) - 98px - 2rem);
  }
}

*:not(.code-snippet *) {
  font-family: 'Fira Code', monospace;
  scroll-behavior: smooth;
}

body {
  @apply w-full h-[var(--device-h)] relative overflow-hidden p-4 sm:p-6 !bg-[#010C15] !text-primaryText;
}

main {
  @apply relative h-[calc(var(--device-h)_-_98px_-_2rem)] sm:h-[calc(var(--device-h)_-_91px_-_3rem)] overflow-y-auto;
}

.header-transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.2s;
}

/* ℹ️ Base selector: .front-card, .back-card */
/* ✨ TailwindCSS: "rounded h-full absolute w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.front-card,
.back-card {
  @apply rounded h-full absolute w-full border border-light bg-[#011627D6];
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.back-card {
  @apply select-none text-3xl flex justify-center items-center;
  transform: rotateY(180deg);
  background-color: rgba(253, 248, 230, 1);
}

pre,
code {
  font-family: 'Source Code Pro', monospace !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*:not(.code-snippet *)::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*:not(.code-snippet *) {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.228);
  /* -webkit-border-radius: 10px;
  border-radius: 10px; */
  border-top: 5px var(--scrollbarBG) solid;
  border-bottom: 1px var(--scrollbarBG) solid;
}
